In [2]:
print("hello world!")

hello world!

In [1]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df = pd.read_csv('movies_2.csv')

In [5]:
df.head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [6]:
df.shape

(616, 11)

In [7]:
df.info

<bound method DataFrame.info of      MovieID                                  Title MPAA Rating       Budget  \
0          1                     Look Who's Talking       PG-13    7500000.0
1          2                     Driving Miss Daisy          PG    7500000.0
2          3                         Turner & Hooch          PG   13000000.0
3          4             Born on the Fourth of July           R   14000000.0
4          5                        Field of Dreams          PG   15000000.0
..       ...                                    ...         ...          ...
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0
615        0                                    NaN         NaN          NaN

            Gross Release Date      Genre  Runtime  Rating  Rating Count  \
0    2.960000e+08   1989-10-12    Romance     93.0     5.9       73638.0
1    1.457933e+08   1989-12-13     Comedy     99.0     7.4       91075.0
2    7.107992e+07   1989-07-28      Crime    100.0     7.2       91415.0
3    1.610017e+08   1989-12-20        War    145.0     7.2       91415.0
4    8.443162e+07   1989-04-21      Drama    107.0     7.5      101702.0
..            ...          ...        ...      ...     ...           ...
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN
615           NaN          NaN        NaN      NaN     NaN           NaN

                                               Summary
0    After a single, career-minded woman is left on...
1    An old Jewish woman and her African-American c...
2    Det. Scott Turner (Tom Hanks) is an uptight, b...
3    The biography of Ron Kovic. Paralyzed in the V...
4    An Iowa corn farmer, hearing voices, interpret...
..                                                 ...
611                                                NaN
612                                                NaN
613                                                NaN
614                                                NaN
615                                                NaN

[616 rows x 11 columns]>

In [10]:
df.describe

<bound method NDFrame.describe of      MovieID                                  Title MPAA Rating       Budget  \
0          1                     Look Who's Talking       PG-13    7500000.0
1          2                     Driving Miss Daisy          PG    7500000.0
2          3                         Turner & Hooch          PG   13000000.0
3          4             Born on the Fourth of July           R   14000000.0
4          5                        Field of Dreams          PG   15000000.0
..       ...                                    ...         ...          ...
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0
615        0                                    NaN         NaN          NaN

            Gross Release Date      Genre  Runtime  Rating  Rating Count  \
0    2.960000e+08   1989-10-12    Romance     93.0     5.9       73638.0
1    1.457933e+08   1989-12-13     Comedy     99.0     7.4       91075.0
2    7.107992e+07   1989-07-28      Crime    100.0     7.2       91415.0
3    1.610017e+08   1989-12-20        War    145.0     7.2       91415.0
4    8.443162e+07   1989-04-21      Drama    107.0     7.5      101702.0
..            ...          ...        ...      ...     ...           ...
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN
615           NaN          NaN        NaN      NaN     NaN           NaN

                                               Summary
0    After a single, career-minded woman is left on...
1    An old Jewish woman and her African-American c...
2    Det. Scott Turner (Tom Hanks) is an uptight, b...
3    The biography of Ron Kovic. Paralyzed in the V...
4    An Iowa corn farmer, hearing voices, interpret...
..                                                 ...
611                                                NaN
612                                                NaN
613                                                NaN
614                                                NaN
615                                                NaN

[616 rows x 11 columns]>

In [11]:
df.memory_usage

<bound method DataFrame.memory_usage of      MovieID                                  Title MPAA Rating       Budget  \
0          1                     Look Who's Talking       PG-13    7500000.0
1          2                     Driving Miss Daisy          PG    7500000.0
2          3                         Turner & Hooch          PG   13000000.0
3          4             Born on the Fourth of July           R   14000000.0
4          5                        Field of Dreams          PG   15000000.0
..       ...                                    ...         ...          ...
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0
615        0                                    NaN         NaN          NaN

            Gross Release Date      Genre  Runtime  Rating  Rating Count  \
0    2.960000e+08   1989-10-12    Romance     93.0     5.9       73638.0
1    1.457933e+08   1989-12-13     Comedy     99.0     7.4       91075.0
2    7.107992e+07   1989-07-28      Crime    100.0     7.2       91415.0
3    1.610017e+08   1989-12-20        War    145.0     7.2       91415.0
4    8.443162e+07   1989-04-21      Drama    107.0     7.5      101702.0
..            ...          ...        ...      ...     ...           ...
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN
615           NaN          NaN        NaN      NaN     NaN           NaN

                                               Summary
0    After a single, career-minded woman is left on...
1    An old Jewish woman and her African-American c...
2    Det. Scott Turner (Tom Hanks) is an uptight, b...
3    The biography of Ron Kovic. Paralyzed in the V...
4    An Iowa corn farmer, hearing voices, interpret...
..                                                 ...
611                                                NaN
612                                                NaN
613                                                NaN
614                                                NaN
615                                                NaN

[616 rows x 11 columns]>

In [12]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

In [13]:
df.info(verbose= False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Columns: 11 entries, MovieID to Summary
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

In [15]:
df.dtypes

MovieID           int64
Title            object
MPAA Rating      object
Budget          float64
Gross           float64
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

In [17]:
df.isna()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
611,False,False,False,False,False,False,False,False,True,True,True
612,False,False,False,False,False,False,False,False,True,True,True
613,False,False,False,False,False,False,False,False,True,True,True
614,False,False,False,False,False,False,False,False,True,True,True
615,False,True,True,True,True,True,True,True,True,True,True

In [19]:
df.notna()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
611,True,True,True,True,True,True,True,True,False,False,False
612,True,True,True,True,True,True,True,True,False,False,False
613,True,True,True,True,True,True,True,True,False,False,False
614,True,True,True,True,True,True,True,True,False,False,False
615,True,False,False,False,False,False,False,False,False,False,False

In [20]:
df.isnull()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
611,False,False,False,False,False,False,False,False,True,True,True
612,False,False,False,False,False,False,False,False,True,True,True
613,False,False,False,False,False,False,False,False,True,True,True
614,False,False,False,False,False,False,False,False,True,True,True
615,False,True,True,True,True,True,True,True,True,True,True

In [21]:
df.dropna()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
505,506,Big Hero 6,PG,165000000.0,652105443.0,2014-10-24,Animation,102.0,7.8,380953.0,The special bond that develops between plus-si...
506,507,Interstellar,PG-13,165000000.0,675120017.0,2014-11-05,Science Fiction,169.0,8.6,1343549.0,A team of explorers travel through a wormhole ...
507,508,Captain America: The Winter Soldier,PG-13,170000000.0,714766572.0,2014-03-20,Action,136.0,7.7,685903.0,As Steve Rogers struggles to embrace his role ...
508,509,Dawn of the Planet of the Apes,PG-13,170000000.0,710644566.0,2014-06-26,Science Fiction,130.0,7.6,395425.0,A growing nation of genetically evolved apes l...
509,510,Guardians of the Galaxy,PG-13,170000000.0,773328629.0,2014-07-30,Action,121.0,8.0,978222.0,A group of intergalactic criminals must pull t...

In [22]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

In [23]:
df.head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [28]:
df.drop('Summary', axis = 1, inplace = True)

In [46]:
df.rename(columns= {'MPAA Rating' : 'MPAA_Rating' , 'Release Date' : 'Release_Date', 'Rating:_Count' : 'Rating_Count'} , inplace= True)

In [47]:
df

,MovieID,Title,MPAA_Rating,Budget,Gross,Release_Date,Genre,Runtime,Rating,Rating_Count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df.index

RangeIndex(start=0, stop=616, step=1)

In [54]:
df.rename(str.lower , axis = 1 , inplace = True )

In [66]:
df.head(2)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0

In [62]:
df.drop(index = 615, inplace = True)

In [63]:
df.tail(3)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN

In [69]:
df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movieid       615 non-null    int64
 1   title         615 non-null    object
 2   mpaa_rating   615 non-null    object
 3   budget        615 non-null    float64
 4   gross         615 non-null    float64
 5   release_date  615 non-null    object
 6   genre         615 non-null    object
 7   runtime       615 non-null    float64
 8   rating        508 non-null    float64
 9   rating_count  508 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 48.2+ KB

In [81]:
df['rating'].fillna(value= df['rating'].median(), inplace = True)

In [87]:
df['rating_count'].fillna( value = df['rating_count'].median(), inplace = True)

In [88]:
df.info ( verbose = True )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movieid       615 non-null    int64
 1   title         615 non-null    object
 2   mpaa_rating   615 non-null    object
 3   budget        615 non-null    float64
 4   gross         615 non-null    float64
 5   release_date  615 non-null    object
 6   genre         615 non-null    object
 7   runtime       615 non-null    float64
 8   rating        615 non-null    float64
 9   rating_count  615 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 48.2+ KB

In [103]:
df.astype({'budget' : 'int64' , 'gross' : 'int64'}).dtypes

KeyError: 'Only the Series name can be used for the key in Series dtype mappings.'

movieid           int64
title            object
mpaa_rating      object
budget            int64
gross             int64
release_date     object
genre            object
runtime         float64
rating          float64
rating_count    float64
dtype: object